@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital@1&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  background-color: #fff;
}

.header {
  height: 30px;
  text-align: center;
}

.header-title {
  font-family: "Bebas Neue", cursive;
}

.menu {
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
}

.menu-header {
  margin-left: 10%;
}

.menu-logo {
  width: 150px;
  height: 50px;
}

.menu-sub-item {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 3px;
  height: 50px;
  text-decoration: none;
  margin: 0px 10px;
}

.search {
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-header {
  font-family: "Noto Serif", serif;
  text-align: center;
}

.search-box {
  position: relative;
}

.search-input {
  width: 250px;
  border: none;
  border-radius: 50px;
  height: 30px;
  padding: 5px 0px 5px 10px;
  color: #000;
}

.search-input:focus {
  outline: none;
}

.search-button {
  border: none;
  position: absolute;
  background: transparent;
  cursor: pointer;
  color: lightgray;
  bottom: 5%;
  right: 2%;
  font-size: 22px;
  border-radius: 20px;
}

.search-button:focus {
  outline: none;
}

.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.movies-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
}

.movies-item:hover {
  transform: scale(1.2);
}

.movies-item img {
  filter: drop-shadow(2px 5px 6px black);
  border-radius: 20px;
  transform: scale(0.9);
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.footer-button {
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #03a9f4;
  color: #fff;
  background-color: background-color;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .movies {
    justify-content: center;
  }
}
