<div class="search">
    <div class="search-box">
        <h4 class="search-header">search for a movie</h4>
        <input value={{this.value}} {{on "change" this.updateValue}} class="search-input" placeholder="search movie" />
        <button class="search-button" type="button" {{on "click" this.handleClick}}>
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>