<Header>
    Trends
</Header>
<div class="movies">
    {{#each @model.results as |movie|}}
    {{#if movie.poster_path}}
    <div class="movies-item">
        <img src="https://image.tmdb.org/t/p/w154/{{movie.poster_path}}" alt="{{movie.original_title}}" />
    </div>
    {{/if}}
    {{/each}}
</div>